## Welcome to my first Jupyter notebook

## Numbered List
1. Hope.
2. Faiza.
3. Miriam.

## Bulleted List
- Aunty Zee.
- Fatee.
- Hakeem.

In [1]:
print("Hello, World!")

Hello, World!

In [11]:
## Adding an Image or hyperlink
!("C:\Users\User\Pictures\image\5a98663b1dfddf86aa6694edf4b5b8af.jpg")

[Visit datacamp Website](https://www.datacamp.com/)

In [9]:
# Perform addition and subtraction
a = 10
b = 5

# Addition
addition = a + b
print("Addition:", addition)

# Subtraction
subtraction = a - b
print("Subtraction:", subtraction)

Addition: 15
Subtraction: 5

In [10]:
# Get documentation for the print() function
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## Personal Information Table

| Name         | Age | Profession   |
|--------------|-----|--------------|
| Hope Bako    | 25  | Data Analyst |

## 2. Data types in Python

In [14]:
# Values and their data types
print(type(42))                  
print(type(3.14))                
print(type("Python"))            
print(type([1, 2, 3]))           
print(type({"name": "John", "age": 30}))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>

In [15]:
# Converting integer to float and string
num = 42
float_num = float(num)
string_num = str(num)

print(float_num)  
print(string_num)

42.0
42

In [16]:
# List of favorite fruits
fruits = ["Coconut", "Peach", "Watermelon", "Date", "Orange"]
print(type(fruits))

<class 'list'>

In [22]:
# Checking if a variable is a string
print(type("Hello, World!"))

<class 'str'>

In [28]:
# Tuple with different data types
my_tuple = (42, "Python", 3.14)
print(my_tuple[1])

Python

In [29]:
# Dictionary with key-value pairs
person = {"name": "Alice", "age": 25, "city": "Kaduna"}
print(person["city"])  # "Kaduna"

Kaduna

In [30]:
# Example variables
a = 10
b = 3.14
c = "Data Science"

# Checking data types
print(type(a)) 
print(type(b))  
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [31]:
# Typecasting float to integer
float_num = 7.89
int_num = int(float_num)

print("Original float:", float_num) 
print("After typecasting to int:", int_num)

Original float: 7.89
After typecasting to int: 7

In [1]:
# Checking input type
user_input = input("Enter something: ")

if user_input.isdigit():
    print("The input is a number.")
else:
    print("The input is a string.")

Enter something: My name is Hope
The input is a string.

In [3]:
#Example data structures
my_list = [1, 2, 3, 4, 5]
my_tuple = ("a", "b", "c")
my_dict = {"name": "John", "age" : 30, "city": "Kaduna"}

# Calculating lengths
print("Length of list:", len(my_list))  
print("Length of tuple:", len(my_tuple))  
print("Length of dictionary:", len(my_dict))

Length of list: 5
Length of tuple: 3
Length of dictionary: 3

## Day 2

In [5]:
# Concatenate "Hello" and "Python"
greeting = "Hello" + " " + "Python"
print(greeting)

Hello Python

In [6]:
# Calculate the length of the string
text = "Learn to code in Python!"
print(len(text))

24

In [7]:
# Extract substring "Program" from "Python Programming"
full_text = "Python Programming"
substring = full_text[7:14]
print(substring)

Program

In [8]:
# Change case of the string
text = "Python Rocks!"
print(text.upper())

PYTHON ROCKS!

In [9]:
print(text.lower())

python rocks!

In [10]:
print(text.title())

Python Rocks!

In [11]:
# Replace "bad" with "good"
sentence = "Python is not bad"
updated_sentence = sentence.replace("bad", "good")
print(updated_sentence)

Python is not good

In [12]:
# Check if "code" exists in the string
text = "Coding is fun with Python"
if "code" in text.lower():
    print("Substring found!") 
else:
    print("Substring not found.")

Substring not found.

In [15]:
# Reverse the string "Python"
word = "Python"
reversed_word = word[::-1]
print(reversed_word)

nohtyP

In [20]:
# Split and join the string
sentence = "Learn Python the easy way"
words = sentence.split()  
print(words)

['Learn', 'Python', 'the', 'easy', 'way']

In [21]:
joined_sentence = "-".join(words)  
print(words)             
print(joined_sentence)

['Learn', 'Python', 'the', 'easy', 'way']
Learn-Python-the-easy-way

In [22]:
# Count occurrences of 'a' in the string
text = "banana apple avocado"
count_a = text.count('a')
print(count_a)

6

In [23]:
# Use f-strings for formatting
score = 95
language = "Python"
comment = "awesome"
formatted_text = f"I scored {score} in {language}, which is {comment}!"
print(formatted_text)

I scored 95 in Python, which is awesome!

## List/Tuples

In [24]:
# Create the list and print the first and last items
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
print("First item:", fruits[0])  
print("Last item:", fruits[-1])

First item: apple
Last item: elderberry

In [25]:
# Modify the list
fruits.append("fig")             
fruits.remove("cherry")          
fruits[1] = "blueberry"          
print(fruits)

['apple', 'blueberry', 'date', 'elderberry', 'fig']

In [26]:
# Sort and reverse the list
fruits.sort()                    
print("Sorted list:", fruits)
fruits.reverse()                 
print("Reversed list:", fruits)

Sorted list: ['apple', 'blueberry', 'date', 'elderberry', 'fig']
Reversed list: ['fig', 'elderberry', 'date', 'blueberry', 'apple']

In [27]:
# Extract the first three languages
languages = ["Python", "Java", "C++", "Ruby", "Go"]
first_three = languages[:3]
print(first_three)

['Python', 'Java', 'C++']

In [28]:
# Calculate the sum of numbers
numbers = [10, 20, 30, 40, 50]
total = sum(numbers)
print("Sum of numbers:", total)

Sum of numbers: 150

In [29]:
# Create a tuple and find max and min values
numbers_tuple = (5, 15, 25, 35, 45)
print("Max value:", max(numbers_tuple)) 
print("Min value:", min(numbers_tuple))

Max value: 45
Min value: 5

In [30]:
# Convert list to tuple
colors = ["red", "green", "blue"]
colors_tuple = tuple(colors)
print(colors_tuple)

('red', 'green', 'blue')

In [31]:
# Unpack tuple into variables
tuple_values = (1, 2, 3)
a, b, c = tuple_values
print(a, b, c)

1 2 3

In [32]:
# Create a list of squares
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [33]:
# Find the index of "C++"
languages = ["Python", "Java", "C++", "Ruby", "Go"]
cpp_index = languages.index("C++")
print("Index of C++:", cpp_index)

Index of C++: 2

## Create Dictionary

In [35]:
# Create a dictionary
person = {"name": "Alice", "age": 25, "city": "New York"}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [36]:
# Access and print the value of "city"
city_value = person["city"]
print("City:", city_value)

City: New York

In [37]:
# Update the value of "age"
person["age"] = 30
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [38]:
# Add a new key "country" with value "USA"
person["country"] = "USA"
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York', 'country': 'USA'}

In [39]:
# Remove the "city" key
person.pop("city")
print(person)

{'name': 'Alice', 'age': 30, 'country': 'USA'}

In [40]:
# Check if the key "name" exists
if "name" in person:
    print("Key 'name' exists.")
else:
    print("Key 'name' does not exist.")

Key 'name' exists.

In [41]:
# Iterate over the dictionary
for key, value in person.items():
    print(f"{key}: {value}")

name: Alice
age: 30
country: USA

In [42]:
# Merge two dictionaries
dict1 = {"x": 1, "y": 2}
dict2 = {"y": 3, "z": 4}
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'x': 1, 'y': 3, 'z': 4}

In [43]:
# Print keys and values
languages = {"Python": 1991, "Java": 1995, "C++": 1985}
print("Keys:", languages.keys())       
print("Values:", languages.values())

Keys: dict_keys(['Python', 'Java', 'C++'])
Values: dict_values([1991, 1995, 1985])

In [44]:
# Create a dictionary using comprehension
squares = {x: x**2 for x in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

## Sets

In [1]:
# 1. Create and Print Set
colors = {"red", "green", "blue"}
print("Set of colors:", colors)

Set of colors: {'blue', 'green', 'red'}

In [2]:
# 2. Add Element
colors.add("yellow")
print("After adding yellow:", colors)

After adding yellow: {'blue', 'green', 'red', 'yellow'}

In [3]:
# 3. Remove Element
colors.remove("green")
print("After removing green:", colors)

After removing green: {'blue', 'red', 'yellow'}

In [4]:
# 4. Check Membership
is_blue_in_set = "blue" in colors
print("Is 'blue' in the set?:", is_blue_in_set)

Is 'blue' in the set?: True

In [5]:
# 5. Union of Sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

In [6]:
# 6. Intersection of Sets
intersection_set = set1.intersection(set2)
print("Intersection of sets:", intersection_set)

Intersection of sets: {3}

In [7]:
# 7. Difference of Sets
difference_set = set1.difference(set2)
print("Difference of sets (set1 - set2):", difference_set)

Difference of sets (set1 - set2): {1, 2}

In [8]:
# 8. Set Length
length_of_set = len({1, 2, 3, 4, 5})
print("Length of the set {1, 2, 3, 4, 5}:", length_of_set)

Length of the set {1, 2, 3, 4, 5}: 5

In [9]:
# 9. Set Operations
subset_check = {1, 2}.issubset({1, 2, 3, 4})
superset_check = {1, 2, 3, 4}.issuperset({1, 2})
print("Is {1, 2} a subset of {1, 2, 3, 4}?:", subset_check)
print("Is {1, 2, 3, 4} a superset of {1, 2}?:", superset_check)

Is {1, 2} a subset of {1, 2, 3, 4}?: True
Is {1, 2, 3, 4} a superset of {1, 2}?: True

In [10]:
# 10. Convert List to Set
list_with_duplicates = [1, 2, 2, 3, 4, 4]
unique_set = set(list_with_duplicates)
print("Set after removing duplicates:", unique_set)

Set after removing duplicates: {1, 2, 3, 4}